body{
    width: 100vw;
    height: 300vh;
    padding: 0%;
    margin: 0%;
}

/* Variabler av färger som ska användas på hemsidan skrivs ner här*/
:colors{
    --family_guy_blue: #1e90ff;
}

/*Användning:
    h2{
        color: var(--family_guy_blue);
    }
*/


/*Format variabler för attributes av boxar*/
:format{

}

nav{
    right: 0px;
    background-color: colors(--family_guy_blue)
}

noscript-popup {
    display:block;
    position:static !important;
    top: 50%;
    left: 50%;
    background-color: white;
}

h1{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 7%;
    background-color: aqua;
}

article{
    padding: 0%;
    width: 50%;
    height: 25%;
    background-color: rgb(46, 67, 130);
}
button{
    position: sticky;
    font-size: large;
    padding: 2%;
    top: 0;
    bottom: 0%;
    left: 5%;
}

#sida1{
    background-color: brown;
    height: 33.333%
}

#sida2{
    background-color: rgb(207, 183, 47);
    height: 33.333%
}

#sida3{
    background-color: rgb(42, 165, 61);
    height: 33.333%
}